// 线条颜色
// $border_color: #dadada;
$border_color: #f0f0f0;

// 黑色字体
$font_black: #333;
// 灰色字体
$font_gray: #acacac;

// 图片区域灰色背景色
$img_bg: #f3f3f3;

// 输入框背景颜色
$input_bg: #f3f3f3;
$input_font_color: #acacac;

// 评分星星的颜色
$stars_color: #f8d352;